# Dependencies
node_modules
.turbo
dist
build
.env
.env.*
!.env.example
*.log
.DS_Store
coverage
apps/api/uploads
apps/client-app/playwright-report
apps/client-app/test-results
*.tsbuildinfo
.tmp
coverage
*.code-workspace
